@model List<app_HackSpace.Models.Program>

@{
    ViewBag.Title = "ProgramList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Step 3 : Program</h2>

<p>@ViewBag.nameFacil</p>
<p>@ViewBag.nameTheme</p>

@using (Html.BeginForm("ProgramList", "HackathonCreate", FormMethod.Post))
{
    for (var i = 0; i < Model.Count(); i++)
    {
        @Html.HiddenFor(model => model[i].idProg)
        @Html.HiddenFor(model => model[i].nameProg)

        <div>
            <div>
                @Html.DisplayFor(model => model[i].nameProg)
            </div>
            <div>
                @Html.DisplayFor(model => model[i].descProg)
            </div>
            <div>
                @Html.CheckBoxFor(model => model[i].IsSelected, new { @class = "selected" })
            </div>
        </div>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Previous" name="btnPrevious" />
            <input type="submit" class="btn btn-default" value="Next" onclick="return testcheck()" name="btnNext" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Add", "ProgramAdd", "HackathonAdd")
        </div>
    </div>
}

<script src="~/Scripts/checkbox/checkboxTest.js"></script>
<script src="~/Scripts/checkbox/checkboxSelected.js"></script>