@model app_HackSpace.Models.ViewModels.ManageModel

@{
    ViewBag.Title = "Explore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.nameHack</h2>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Manage", "RedirectSelectHack", new { id = ViewBag.hackathonId })</li>
        <li>@Html.ActionLink("Explore", "Explore", new { id = ViewBag.hackathonId })</li>
        <li>@Html.ActionLink("Pitch", "RedirectPitch", new { id = ViewBag.hackathonId })</li>
        <li>@Html.ActionLink("Match", "RedirectMatch", new { id = ViewBag.hackathonId })</li>
        <li>@Html.ActionLink("Deliver", "RedirectDeliver", new { id = ViewBag.hackathonId })</li>
        <li>@Html.ActionLink("Launch", "RedirectLaunch", new { id = ViewBag.hackathonId })</li>
    </ul>
</div>

<h4>Explore</h4>

<div>
    @Html.ActionLink("Share Content", "ExploreUpload", new { id = ViewBag.hackathonId, nameHack = ViewBag.nameHack })
</div>

@*@foreach (var item in Model.explore)
{
    <div>
        <div>
            <div>
                @Html.DisplayFor(modelItem => item.title)
            </div>
            <video width="320" height="240" condivols>
                <source src="~/Content/Videos/Explore/@item.video" type="video/mp4">
                <source src="~/Content/Videos/Explore/@item.video" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.descExplore)
        </div>
        <div>
            @Html.ActionLink("Edit", "ExploreEdit", new { id = item.idExplore }) |
            @Html.ActionLink("Delete", "ExploreDelete", new { id = item.idExplore })
        </div>
    </div>
}*@

@foreach (var item in Model.explore)
{
    <div>
        <div>
            <div>
                @Html.DisplayFor(modelItem => item.title)
            </div>
            <video width="320" height="240" controls>
                <source src="@item.video" type="video/mp4">
                <source src="@item.video" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.descExplore)
        </div>
        <div>
            @Html.ActionLink("Edit", "ExploreEdit", new { id = item.idExplore, url = item.video }) |
            @Html.ActionLink("Delete", "ExploreDelete", new { id = item.idExplore, url = item.video })
        </div>
    </div>
}
