@model app_HackSpace.Models.ManageExplore

@{
    ViewBag.Title = "ExploreUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.nameHack</h2>
<h4>Explore Upload</h4>

<div>
    @Html.ActionLink("Back", "Explore", new { id = ViewBag.hackathonId })
</div>

<div>
    @using (Html.BeginForm("ExploreUpload", "Explore", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @ViewBag.Error

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.titleExplore, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.titleExplore, new { htmlAttributes = new { @class = "form-control" }, required = "" })
                    @Html.ValidationMessageFor(model => model.titleExplore, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.descExplore, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.descExplore, new { htmlAttributes = new { @class = "form-control" }, required = "" })
                    @Html.ValidationMessageFor(model => model.descExplore, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2">
                    Video :
                </div>
                <div class="col-md-10">
                    @Html.TextBox("video", "", new { type = "file", required = "" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Upload" class="btn btn-default" />
                </div>
            </div>

        </div>
    }
</div>