
@{
    ViewBag.Title = "How it works";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - How it works</title>
  <script type="text/javascript" src="~/Scripts/Filtrer.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")

</head>
<body>

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar navbar-default navbar-doublerow navbar-trans navbar-collapse collapse" style="background-color:deepskyblue" id="menu">
      <nav class="navbar navbar-down">
        <div class="container-fluid container-fullwidth" >
          <div class="  row flex-container">
            <ul class="nav navbar-nav flex-item hidden-xs" >
              <li class="col-lg-3 col-md-3 col-sm-3" style="margin-right:16px;color:white"><p style="color:white">@Html.ActionLink("Organize", "Organize", "Home")</p></li>
              <li class="col-lg-3 col-md-3 col-sm-3" style="margin-right:16px;color:white"><p>@Html.ActionLink("Participate", "Participate", "Home")</p></li>
              <li class="col-lg-3 col-md-3 col-sm-3" style="margin-right:16px;color:white"><p>@Html.ActionLink("Support", "Support", "Home")</p></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
        @RenderBody()

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
