
@{
    ViewBag.Title = "Hackathon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hackathon</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")

</head>
<body>

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Facilitator", "Index", "Facilitator")</li>
                <li>@Html.ActionLink("Theme", "Index", "Theme")</li>
                <li>@Html.ActionLink("Program", "Index", "Program")</li>
                <li>@Html.ActionLink("Location", "Index", "Location_")</li>
                <li>@Html.ActionLink("Experts", "Index", "Expert")</li>
                <li>@Html.ActionLink("Rewards", "Index", "Reward")</li>
                <li>@Html.ActionLink("Sponsors", "Index", "Sponsor")</li>
                <li>@Html.ActionLink("Goodies", "Index", "Goodie")</li>
                <li>@Html.ActionLink("Payment", "Index", "Payment")</li>
            </ul>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
